@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans {
  font-family: 'Noto Sans', serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --red-color-10: hsl(0, 100%, 10%);
  --red-color-20: hsl(0, 100%, 20%);
  --red-color-30: hsl(0, 100%, 30%);
  --red-color-40: hsl(0, 100%, 40%);
  --red-color-50: hsl(0, 100%, 50%);
  --red-color-60: hsl(0, 100%, 60%);
  --red-color-70: hsl(0, 100%, 70%);
  --red-color-80: hsl(0, 100%, 80%);
  --red-color-90: hsl(0, 100%, 90%);
  --red-color-95: hsl(0, 100%, 95%);
  --gray-color-5: hsl(0, 0%, 5%);
  --gray-color-10: hsl(0, 0%, 10%);
  --gray-color-20: hsl(0, 0%, 20%);
  --gray-color-30: hsl(0, 0%, 30%);
  --gray-color-40: hsl(0, 0%, 40%);
  --gray-color-50: hsl(0, 0%, 50%);
  --gray-color-60: hsl(0, 0%, 60%);
  --gray-color-70: hsl(0, 0%, 70%);
  --gray-color-80: hsl(0, 0%, 80%);
  --gray-color-90: hsl(0, 0%, 90%);
  --gray-color-95: hsl(0, 0%, 95%);
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-family: 'Noto Sans', serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
